//! **************************************************************************
// Written by: Map P.20131013 on Sat Apr 18 14:09:45 2015
//! **************************************************************************

SCHEMATIC START;
COMP "TXE" LOCATE = SITE "P97" LEVEL 1;
COMP "clk" LOCATE = SITE "P127" LEVEL 1;
COMP "M1n1" LOCATE = SITE "P74" LEVEL 1;
COMP "M1n2" LOCATE = SITE "P100" LEVEL 1;
COMP "M1n3" LOCATE = SITE "P2" LEVEL 1;
COMP "M1n4" LOCATE = SITE "P24" LEVEL 1;
COMP "M2n1" LOCATE = SITE "P77" LEVEL 1;
COMP "M1p1" LOCATE = SITE "P73" LEVEL 1;
COMP "M2n2" LOCATE = SITE "P103" LEVEL 1;
COMP "M1p2" LOCATE = SITE "P99" LEVEL 1;
COMP "M2n3" LOCATE = SITE "P5" LEVEL 1;
COMP "M1p3" LOCATE = SITE "P1" LEVEL 1;
COMP "M2n4" LOCATE = SITE "P26" LEVEL 1;
COMP "M1p4" LOCATE = SITE "P23" LEVEL 1;
COMP "M3n1" LOCATE = SITE "P79" LEVEL 1;
COMP "M2p1" LOCATE = SITE "P76" LEVEL 1;
COMP "M3n2" LOCATE = SITE "P105" LEVEL 1;
COMP "M2p2" LOCATE = SITE "P102" LEVEL 1;
COMP "M3n3" LOCATE = SITE "P7" LEVEL 1;
COMP "M2p3" LOCATE = SITE "P4" LEVEL 1;
COMP "M3n4" LOCATE = SITE "P28" LEVEL 1;
COMP "M2p4" LOCATE = SITE "P25" LEVEL 1;
COMP "M3p1" LOCATE = SITE "P78" LEVEL 1;
COMP "M3p2" LOCATE = SITE "P104" LEVEL 1;
COMP "M3p3" LOCATE = SITE "P6" LEVEL 1;
COMP "M3p4" LOCATE = SITE "P27" LEVEL 1;
COMP "RPM_IN<0>" LOCATE = SITE "P63" LEVEL 1;
COMP "RPM_IN<1>" LOCATE = SITE "P60" LEVEL 1;
COMP "RPM_IN<2>" LOCATE = SITE "P59" LEVEL 1;
COMP "RPM_IN<3>" LOCATE = SITE "P56" LEVEL 1;
COMP "RPM_IN<4>" LOCATE = SITE "P55" LEVEL 1;
COMP "RPM_IN<5>" LOCATE = SITE "P53" LEVEL 1;
COMP "RPM_IN<6>" LOCATE = SITE "P52" LEVEL 1;
COMP "RPM_IN<7>" LOCATE = SITE "P51" LEVEL 1;
COMP "MOTOR_NUM<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "MOTOR_NUM<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "DATA_USB<0>" LOCATE = SITE "P84" LEVEL 1;
COMP "DATA_USB<1>" LOCATE = SITE "P87" LEVEL 1;
COMP "DATA_USB<2>" LOCATE = SITE "P86" LEVEL 1;
COMP "DATA_USB<3>" LOCATE = SITE "P93" LEVEL 1;
COMP "DATA_USB<4>" LOCATE = SITE "P85" LEVEL 1;
COMP "DATA_USB<5>" LOCATE = SITE "P90" LEVEL 1;
COMP "DATA_USB<6>" LOCATE = SITE "P92" LEVEL 1;
COMP "DATA_USB<7>" LOCATE = SITE "P89" LEVEL 1;
COMP "TEST_KEY<0>" LOCATE = SITE "P130" LEVEL 1;
COMP "TEST_KEY<1>" LOCATE = SITE "P131" LEVEL 1;
COMP "HALL11" LOCATE = SITE "P82" LEVEL 1;
COMP "HALL12" LOCATE = SITE "P108" LEVEL 1;
COMP "HALL21" LOCATE = SITE "P83" LEVEL 1;
COMP "HALL13" LOCATE = SITE "P10" LEVEL 1;
COMP "HALL22" LOCATE = SITE "P112" LEVEL 1;
COMP "HALL14" LOCATE = SITE "P31" LEVEL 1;
COMP "HALL31" LOCATE = SITE "P80" LEVEL 1;
COMP "HALL23" LOCATE = SITE "P11" LEVEL 1;
COMP "HALL32" LOCATE = SITE "P107" LEVEL 1;
COMP "HALL24" LOCATE = SITE "P32" LEVEL 1;
COMP "HALL33" LOCATE = SITE "P8" LEVEL 1;
COMP "HALL34" LOCATE = SITE "P30" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P40" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P36" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P35" LEVEL 1;
COMP "USB_WR" LOCATE = SITE "P95" LEVEL 1;
COMP "CHECK_OUT" LOCATE = SITE "P119" LEVEL 1;
COMP "HALL_OUT" LOCATE = SITE "P116" LEVEL 1;
COMP "PARITY_IN" LOCATE = SITE "P44" LEVEL 1;
COMP "CLK_1MS" LOCATE = SITE "P113" LEVEL 1;
COMP "CLK_PAR" LOCATE = SITE "P46" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

